<p id="notice"><%= notice %></p>

<h1>First Names</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_names.each do |first_name| %>
      <tr>
        <td><%= first_name.last_name %></td>
        <td><%= link_to 'Show', first_name %></td>
        <td><%= link_to 'Edit', edit_first_name_path(first_name) %></td>
        <td><%= link_to 'Destroy', first_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New First Name', new_first_name_path %>
